<h1>My Blog</h1>
<div>
<h2>Introduction</h2>
<div>
<p>Hullo OuO My name is Raspberry and welcome to my first website cx</p>
<p>animu and mangu|phan|homestuck|rp|mcr fob p!atd</p>
<img src="http://img12.deviantart.net/9df7/i/2013/103/7/e/homestuck_by_queenoftheantz-d61l9hb.jpg" />
</div>
<a href="http://www.mspaintadventures.com/?s=6">Read HomeStuck here xD</a>
<h2>Find me Cx</h2>
<a href="https://github.com/kishinkurosawa">Github</a>
<a href="mailto:petrovic.malina@gmail.com">Send me an email</a>
</div>